
<button mat-button routerLink="" >Home</button>
<button mat-button routerLink="/one" routerLinkActive="active">Question 1</button>
<button mat-button routerLink="">Question 2</button>
<button mat-button routerLink="">Question 3</button>
<button mat-button routerLink="">Question 4</button>
<button mat-button routerLink="">Question 5</button>
<mat-card>
<mat-card-title>Question 1</mat-card-title>
<mat-card-subtitle>1.1 Please correct the code, so it really prints out the expected result (100). You can fix it
    anyway you like but it still has to call fetch as the source of data.
</mat-card-subtitle>
</mat-card>