
<button mat-button routerLink="" >Home</button>
<button mat-button routerLink="/one">Question 1</button>
<button mat-button routerLink="/two" routerLinkActive="active">Question 2</button>
<button mat-button routerLink="/three">Question 3</button>
<button mat-button routerLink="">Question 4</button>
<button mat-button routerLink="">Question 5</button>
<mat-card>
<mat-card-title>Question 2</mat-card-title>
<mat-card-subtitle>Quiz: Move a star to middle of the box.</mat-card-subtitle>
<div class="parent">
  <div class="star">★</div>
</div>
</mat-card>