<button mat-button routerLink="" >Home</button>
<button mat-button routerLink="/one">Question 1</button>
<button mat-button routerLink="/two" >Question 2</button>
<button mat-button routerLink="/three">Question 3</button>
<button mat-button routerLink="/four">Question 4</button>
<button mat-button routerLink="/five" routerLinkActive="active">Question 5</button>
<mat-card>
<mat-card-title>Question 5</mat-card-title>
Please identify what is causing the memory leak, and how to fix it and describe how you investigate it<br>
<b>Answer:</b><img src="../../assets/q5.png"/>
<img src="../../assets/q5.1.png"/>
<br>

This array should be cleared by browser GC when the dialog is closed, and element is removed from DOM, but it is not (why is it the case?)<br>
<b>Answer:  -</b> 
</mat-card>